@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;

    color: black;
    background-color: white;
}

nav {
    padding: 4rem 4rem 0 4rem;
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

@media (max-width: 767.98px) {
    nav {
        position: relative;
        flex-direction: column;
        gap: 3rem;

        padding: 2rem 2rem 0 2rem;
    }
}

#tabs {
    display: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;

    font-family: "Input Mono", 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

@media (max-width: 767.98px) {
    #tabs {
        flex-direction: column;
        gap: 1rem;
    }
}

a {
    color: black;
    text-decoration: none;
}

.password-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: white;
}

#password-input {
    margin: 0.5rem 0;
    padding: 0.5rem;

    width: 16rem;

    border: solid 1px black;
    border-radius: 8px;
}

button {
    margin: 0;
    padding: 0.5rem 1rem;
    
    color: black;
    border: solid 1px black;
    border-radius: 8px;
    background-color: white;
}

#error-message {
    color: rgb(255, 74, 50);
    display: none;
}

#secret-content {
    display: none;
}