@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: "P22 Mackinac Pro";
    src: url(../assets/P22MackinacPro-MedItalic.otf) format("opentype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "Input Mono";
    src: url(../fonts/InputMono-Regular.ttf) format(truetype);
    font-weight: 400;
    /* font-style: monospace; */
}

* {
    box-sizing: border-box;
}

body {
    /* font-family: "Inter", Arial, Helvetica, sans-serif; */
    font-family: "Input Mono", 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.link-none {
    color: black;
    text-decoration: none;
}

p {
    line-height: 1.25rem;
}



/* Spacing */
.mb-4 {
    margin-bottom: 0.25rem;
}

.mb-8 {
    margin-bottom: 0.5rem;
}

.mb-16 {
    margin-bottom: 1rem;
}

.mb-24 {
    margin-bottom: 1.5rem;
}

.mb-48 {
    margin-bottom: 3rem;
}

.mb-64 {
    margin-bottom: 4rem;
}

.mb-128 {
    margin-bottom: 8rem;
}